@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./logo/background.jpg');
  background-position: center;
  /* Replace with your new image URL */
  background-size: cover;
  backdrop-filter: blur(10px);
  width: 100vw;
  position: relative;
}
.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}